h1{
    display: flex;
     justify-content: center; /* met l'image au centre de la page */
}
.Logo{                  /* set à dimensionner la taille du logo */
    height: 300px;
    width: 300px;
    object-fit: contain;
}

.menu{
    display: flex; /*crée une grille flex*/
    justify-content: space-around; /*répartie équitable l'espace entre les élément*/
    font-size: 24px; /*gère la taille de la taille du texte*/
}

.partie1{

}

h2{
    text-decoration: underline; /*soulligne un texte*/
    font-size: 30px; /*gère la taille de la taille du texte*/
    text-align: center;
}
p{
    text-align: center;  
}

.partie2{
    display: flex;
    flex-direction: column;
}

.photo{
    border-radius: 200%;
    height: 275px;
    width: 400px;
}