h1{
    display: flex;
     justify-content: center; /* met l'image au centre de la page */
}
.Logo{                  /* set à dimensionner la taille du logo */
    height: 300px;
    width: 300px;
    object-fit: contain;
}

.menu{
    display: flex; /*crée une grille flex pour mettre les élément en ligne*/
    justify-content: space-around; /*répartie équitable l'espace entre les élément*/
    font-size: 24px; /*gère la taille de la taille du texte*/
}

.partie1{

}

h2{
    text-decoration: underline; /*soulligne un texte*/
    font-size: 30px; /*gère la taille de la taille du texte*/
    text-align: center;
}
p{
    text-align: center;  
}


.photo{
    border-radius: 50%; /*pour mettre l'image en cercle*/
    height: 200px;
    width: 200px;
    margin: 0 auto; /* pour centrer l'image */
    object-fit: cover; /* pour s'assurer que l'image remplit le cercle */
}

.membres{
    display: flex;/*crée une grille flex pour mettre les élément en ligne*/
    justify-content: space-around;/*répartie équitable l'espace entre les élément*/
}

.partie3{
    gap: 50px;
}
.container1{
    display: flex; /*crée une grille flex pour mettre les élément en ligne*/
    justify-content: space-around;/*répartie équitable l'espace entre les élément*/
}

.contact{
    display: flex;
    flex-direction: column;
}

.container2{
    display: flex;
    flex-direction: column;
}
#message{
    width: 83%;
    height: 200px;
    resize: vertical;/*redimensionnement vertical*/
    align-self: center; /* centrer l'élément enfant*/
}
.texte{
    margin-left: 8.2%;
}

/* Sélectionne tous les enfants directs de l'élément avec la classe "partie3" */
.partie1 > * {
    /* Ajoute une marge de 50 pixels en bas de chaque élément enfant direct */
    margin-bottom: 50px;
}
.partie2 > * {
    /* Ajoute une marge de 50 pixels en bas de chaque élément enfant direct */
    margin-bottom: 50px;
}
.partie3 > * {
    /* Ajoute une marge de 50 pixels en bas de chaque élément enfant direct */
    margin-bottom: 50px;
}

main > *{
    margin-bottom: 50px;
}
.bouton-containe{
    display: flex;
    justify-content: center;
}
button{
    width: 200px;
    height: 30px;
}